JLibrary01/lib/Oracle/Oracle-XDK/xdk/demo/java/schema/dtd2schema.dtd

<!ELEMENT abc (A1* | B1)>
<!ATTLIST abc CEO CDATA #REQUIRED>
<!ATTLIST abc CFO CDATA #IMPLIED>
<!ATTLIST abc CTO CDATA #FIXED "Dr. Oracle">
<!ELEMENT A1 (A11 | (A12, A13))>
<!ELEMENT B1 (#PCDATA | B11 | B12 | B13 | B14)*>
<!ELEMENT A11 (#PCDATA)>
<!ELEMENT A12 (#PCDATA)>
<!ELEMENT A13 (#PCDATA)>
<!ELEMENT B11 (#PCDATA)>
<!ELEMENT B12 EMPTY>
<!ELEMENT B13 ANY>
<!ELEMENT B14 (B141)>
<!ELEMENT B141 ANY>
