JLibrary01/lib/Oracle/Oracle-XDK/xdk/demo/java/jaxb/Sample5/sample5.xsd

<?xml version="1.0"?>

<schema xmlns = "http://www.w3.org/2001/XMLSchema"
            xmlns:bo="http://www.oracle.com/sample5/"
            targetNamespace="http://www.oracle.com/sample5/"
            elementFormDefault="qualified">

   <complexType name="baseType">
      <choice maxOccurs="unbounded">
         <element name="a" type="string"/>
         <element name="b" type="string"/>
         <element name="c" type="int"/>
      </choice>
   </complexType>

   <element name="base" type="bo:baseType"/>

</schema>

